.open_paragraph {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open_paragraph_title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}

.strong{
  font-size: 19px;
  font-weight: bold;
  color: #0385ff;
}

.open_paragraph_text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
}

.open_paragraph_text:last-child {
  margin-bottom: 0px;
}
