.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-scrollable-area {
  width: 100%;
  max-width: 756px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: auto;
  background-color: white;
}

.title-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 40px;
  padding-right: 40px;
}

.home-title {
  font-size: 35px;
}

.home-sub-title {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

.thumbnail-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.floating_btn_container {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.tel_btn {
  width: 60%;
  height: 50px;
  border: 1.5px black solid;
  border-radius: 15px;
  background-color: transparent;
  margin-top: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.tel_btn:link {
  color: black;
}

.tel_text {
  font-size: 17px;
}
