.footer_container {
  margin-top: 100px;
  width: 100%;
  height: 150px;
  /* background-color: lightgray; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 50px; */
  background: #ebebeb;
  box-shadow: -20px 20px 60px #c8c8c8, 20px -20px 60px #ffffff;
}

.copyright_text {
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.contact_title {
  font-size: 12px;
  font-weight: 400;
}

.link_text {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.link_text:link,
.link_text:hover {
  color: black;
}
.divider {
  color: darkgray;
}

.contributer_profile_img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.contributer_name {
  font-weight: 300;
  font-size: 9px;
  color: gray;
}

.contributer_container_box {
  display: flex;
  margin-top: 4px;
}

.contributer_container {
}

.left_space {
  margin-left: 9px;
}

.contributer_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
